<div 
  id='bootstrap-music'
  style='display:none'
  data-sender='<%= @sender %>'
  data-current-text-id='<%= @id %>'
  data-sentiment='<%= @sentiment %>'
  data-content-length='<%= @content_length %>'
  data-chord-progression='<%= @chord_progression %>'
  data-tempo='<%= @tempo %>'
></div>