<div 
  id='bootstrap-music'
  style='display:none'
  data-sender='<%= @sender %>'
  data-current-text-id='<%= @id %>'
  data-sentiment='<%= @sentiment %>'
  data-content-length='<%= @content_length %>'
  data-chord-progression='<%= @chord_progression %>'
  data-tempo='<%= @tempo %>'
></div>
<%= image_tag 'eno.jpg', class: 'eno-main' %>
<div id='eno-text'><h1><span class='replace-text'>Hey buddy.</span> Text me... +44 7860 033 606</h1></div>